/* CROCHET PROFILE */
.profile-container {
  background: url("../../assets/svg/Animated\ Shape\ \(4\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
}
.img-container {
  display: flex;
  width: 100%;
}
.img-container img {
  width: 60%;
  animation: animated 5s ease 0s infinite alternate;
}

@keyframes animated {
  from {
    transform: translateX(-1px) rotate(-1deg);
  }
  to {
    transform: translateX(1px) rotate(1deg);
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  white-space: nowrap;
  color: white;
}

.header h1 {
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}
.header h6 {
  font-size: 0.7rem;
}
.header h6,
.header h1 {
  margin: 0;
  padding: 0;
}

.card-container {
  position: absolute;
  padding: 30px; /* To give some space for overlap */
  top: 25%;
  width: 100%;
}

.card-profile {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; /* This creates the overlap effect */
  border-radius: 2px;
  --background-activated: #333333;
}

.card-profile ion-button {
  --background: black;
  --background-activated: #f2f2f2ad;
  border-radius: 10px;
}
.card-profile p {
  font-size: 0.8rem;
  color: #343434;
}

/* CROCHET SECTION*/
/* Styling for the unique crochet card section */
.crochet-card-section-unique {
  margin-top: 30%;
}

.crochet-card-section-unique h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Ensure no padding on cards */
.crochet-card-section-unique .card {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5px;
  --border-width: 0;
  --box-shadow: none;
}

.crochet-card-section-unique .card h3 {
  margin-top: 10px;
}

.card ion-button {
  position: absolute;
  height: 100px;
  top: 0;
  --background: transparent;
  color: transparent;
  --background-activated: #e0e0e05a;
  --border-width: 0;
  --box-shadow: none;
}
.card ion-button:active {
  --background: white; /* Normal background color (white) */
  --background-activated: #ededed00; /* Active state background color (light black) */
  --color: #333333; /* Normal text color (light black) */
}

.card h3 {
  font-size: 0.8rem;
}

/* GENERAL MODAL BUTTON */

ion-modal ion-button {
  --color: black;
}

/* MOBILE VIEW OPTIMIZATION*/
@media (min-width: 340px) {
  .crochet-card-section-unique {
    margin-top: 30%;
  }
  .card-profile h2 {
    font-size: 1rem;
  }
}

@media (max-width: 339px) {
  .crochet-card-section-unique {
    margin-top: 40%;
  }
  .card-profile h2 {
    font-size: 1rem;
  }
  .card-profile p {
    font-size: 0.7rem;
  }
  .card-profile h2 {
    font-size: 1rem;
  }
}

/* MATERIAL MODAL CONTENT*/
.material-profile-container {
  background: url("../../assets/svg/Curve\ Line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-profile-container h3 {
  color: white;
}
.material-description ion-item {
  --padding-start: 0;
}

/* CROCHET MODAL CONTENT */
.content-header {
  width: 100%;
  height: 60px;
  background: url("../../assets/img/crochetImg/Patrón\ de\ hilos\ y\ agujas\ de\ tejer\ Gráficos\ vectoriales\ Fondo\ aislado\ x9\ _\ Vector\ Premium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.524);
}

.content-img {
  background-color: rgba(52, 51, 51, 0.882);
  width: 150px;
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -40px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.524);
}

.crochet-description {
  background-color: white;
}
.crochet-description h3 {
  margin-top: 30px;
}

.crochet-description p {
  font-size: 0.8rem;
  color: rgb(77, 76, 76);
  line-height: 1.5rem;
}

/* Sliding Card*/
.sliding-card-section h2 {
  padding: 5px 20px;
  margin: 0;
  font-size: 1.2rem;
}
.sliding-cards-container {
  display: flex;
  overflow-x: scroll; /* Allow horizontal scrolling */
  padding: 0;
  gap: 5px; /* Adjust the gap between cards */
  scroll-snap-type: x mandatory; /* Ensures that only one card is visible at a time */
}

.sliding-card {
  flex-shrink: 0;
  width: 70%; /* Adjust to the size of a single card */
  scroll-snap-align: center; /* Align the card at the center when scrolling */
  transition: transform 0.3s ease;
}

.sliding-cards-container::-webkit-scrollbar {
  height: 8px;
}

.sliding-cards-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.sliding-cards-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sliding-card ion-card-title {
  font-size: 1.3rem;
}

/*SAMPLE YOUTUB VIDEO*/
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MODAL LOADER */
ion-loading.custom-loading {
  --background: #feffff;
  --spinner-color: #252627;
  color: #252627;
}

.modal-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}
