<ion-content [fullscreen]="true">
  <!-- Profile Container -->
  <div class="profile-container">
    <div class="img-container">
      <img
        src="../../assets/img/profile-img/Free_Clipart_of_Girls_Crocheting_or_Knitting-removebg-preview.png"
        alt=""
      />
      <div class="header">
        <h6>WE ARE</h6>
        <h1>Crochet Connect</h1>
      </div>
    </div>

    <!-- Profile Card Section -->
    <div class="card-container ion-padding">
      <div class="card-profile">
        <h2>Here's Your Material Needed</h2>
        <p>Start with yarn,crochet-hook,scissor, and etc.</p>
        <div class="modal-btn">
          <ion-button id="profile-modal" expand="block"
            >View Material</ion-button
          >
          <ion-modal
            [keepContentsMounted]="true"
            trigger="profile-modal"
            #profilebtn
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="profilebtn.dismiss()"
                      >Close</ion-button
                    >
                  </ion-buttons>
                  <ion-title>Material</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <div class="video-container">
                  <iframe
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  >
                  </iframe>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
  </div>

  <!-- Crochet Card Section -->
  <div class="crochet-card-section-unique">
    <h2>Explore Crochet Styles</h2>

    <!-- Row 1 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/tulip (1).png"
            alt="Crochet Style 1"
          />
          <h3>Tulip</h3>
          <ion-button id="open-modal-1" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-1" #modal1>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal1.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Tulip</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 1.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/rose.png"
            alt="Crochet Style 2"
          />
          <h3>Rose</h3>
          <ion-button id="open-modal-2" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-2" #modal2>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal2.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Rose</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 2.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/sunflower.png"
            alt="Crochet Style 3"
          />
          <h3>Sunflower</h3>
          <ion-button id="open-modal-3" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-3" #modal3>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal3.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Sunflower</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 3.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <!-- Row 2 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/tote-bag.png"
            alt="Crochet Style 4"
          />
          <h3>Tote Bag</h3>
          <ion-button id="open-modal-4" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-4" #modal4>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal4.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Tote Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 4.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/luxury.png"
            alt="Crochet Style 5"
          />
          <h3>Crossbody Bag</h3>
          <ion-button id="open-modal-5" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-5" #modal5>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal5.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Crossbody Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 5.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/vegetable.png"
            alt="Crochet Style 6"
          />
          <h3>Market Bag</h3>
          <ion-button id="open-modal-6" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-6" #modal6>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal6.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Market Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 6.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <!-- Row 3 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/animal.png"
            alt="Crochet Style 7"
          />
          <h3>Animal Keychain</h3>
          <ion-button id="open-modal-7" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-7" #modal7>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal7.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Animal Keychanin</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 7.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/heart.png"
            alt="Crochet Style 8"
          />
          <h3>Heart Keychain</h3>
          <ion-button id="open-modal-8" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-8" #modal8>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal8.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Heart Keychain</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 8.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/flower.png"
            alt="Crochet Style 9"
          />
          <h3>Flower Keychain</h3>
          <ion-button id="open-modal-9" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-9" #modal9>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal9.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Flower Keychain</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding"
              >Details about Crochet Style 9.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
