<ion-content [fullscreen]="true">
  <!-- Profile Container -->
  <div class="profile-container">
    <div class="img-container">
      <img
        src="../../assets/img/profile-img/Free_Clipart_of_Girls_Crocheting_or_Knitting-removebg-preview.png"
        alt=""
      />
      <div class="header">
        <h6>WE ARE</h6>
        <h1>Crochet Connect</h1>
      </div>
    </div>

    <!-- Profile Card Section -->
    <div class="card-container ion-padding">
      <div class="card-profile">
        <h2>Here's Your Material Needed</h2>
        <p>Start with yarn,crochet-hook,scissor, and etc.</p>
        <div class="modal-btn">
          <ion-button id="profile-modal" expand="block"
            >View Material</ion-button
          >
          <ion-modal
            [keepContentsMounted]="true"
            trigger="profile-modal"
            #profilebtn
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="profilebtn.dismiss()"
                      >Close</ion-button
                    >
                  </ion-buttons>
                  <ion-title>Material</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <div class="material-profile-container">
                  <h3>Here Are Your Materials</h3>
                </div>
                <div class="material-description">
                  <ion-card class="basic-material">
                    <ion-card-header>
                      <ion-card-title>3 Basic Material</ion-card-title>
                      <ion-card-subtitle>Basic Material</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/crochet.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Crochet Hook</ion-label>
                        </ion-item>

                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/scissors (1).png"
                            />
                          </ion-thumbnail>
                          <ion-label>Scissor</ion-label>
                        </ion-item>

                        <ion-item lines="none">
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/yarn-ball.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Yarn</ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                  <!-- SECOND CARD -->
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Card Title</ion-card-title>
                      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/fashion (1).png"
                            />
                          </ion-thumbnail>
                          <ion-label>Stitch Markers</ion-label>
                        </ion-item>

                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/needles.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Tapestry Needle</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/tape.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Measuring Tape</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/knitting.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Yarn Needle</ion-label>
                        </ion-item>

                        <ion-item lines="none">
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/stitch.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Stitch Holder</ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
                <!--  <div class="video-container">
                  <iframe
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  >
                  </iframe>
                </div> -->
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
  </div>

  <!-- Crochet Card Section -->
  <div class="crochet-card-section-unique">
    <h2>Explore Crochet Styles</h2>

    <!-- Row 1 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/tulip (1).png"
            alt="Crochet Style 1"
          />
          <h3>Tulip</h3>
          <ion-button id="open-modal-1" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-1" #modal1>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal1.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Tulip</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/rose.png"
            alt="Crochet Style 2"
          />
          <h3>Rose</h3>
          <ion-button id="open-modal-2" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-2" #modal2>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal2.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Rose</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/sunflower.png"
            alt="Crochet Style 3"
          />
          <h3>Sunflower</h3>
          <ion-button id="open-modal-3" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-3" #modal3>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal3.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Sunflower</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <!-- Row 2 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/tote-bag.png"
            alt="Crochet Style 4"
          />
          <h3>Tote Bag</h3>
          <ion-button id="open-modal-4" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-4" #modal4>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal4.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Tote Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/luxury.png"
            alt="Crochet Style 5"
          />
          <h3>Crossbody Bag</h3>
          <ion-button id="open-modal-5" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-5" #modal5>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal5.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Crossbody Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/vegetable.png"
            alt="Crochet Style 6"
          />
          <h3>Market Bag</h3>
          <ion-button id="open-modal-6" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-6" #modal6>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal6.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Market Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <!-- Row 3 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/animal.png"
            alt="Crochet Style 7"
          />
          <h3>Animal Keychain</h3>
          <ion-button id="open-modal-7" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-7" #modal7>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal7.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Animal Keychanin</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/heart.png"
            alt="Crochet Style 8"
          />
          <h3>Heart Keychain</h3>
          <ion-button id="open-modal-8" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-8" #modal8>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal8.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Heart Keychain</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Tutorial</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Blanditiis eaque quisquam beatae dolorum voluptatum in, odio,
                  voluptatem culpa reiciendis tempora dolorem facere incidunt,
                  et totam? Corporis consectetur ipsum beatae voluptatibus?
                </p>
              </div>
              <div class="sliding-cards-container">
                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the first card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 2</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the second card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 3</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the third card.
                  </ion-card-content>
                </ion-card>

                <ion-card class="sliding-card">
                  <ion-card-header>
                    <ion-card-title>Card 4</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    Content for the fourth card.
                  </ion-card-content>
                </ion-card>
              </div>
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/flower.png"
            alt="Crochet Style 9"
          />
          <h3>Flower Keychain</h3>
          <ion-button id="open-modal-9" expand="block">Open Modal</ion-button>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-9" #modal9>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal9.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Flower Keychain</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content"
              >Details about Crochet Style 9.</ion-content
            >
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
