<ion-content [fullscreen]="true">
  <!-- Profile Container -->
  <div class="profile-container">
    <div class="img-container">
      <img
        src="../../assets/img/profile-img/Free_Clipart_of_Girls_Crocheting_or_Knitting-removebg-preview.png"
        alt=""
      />
      <div class="header">
        <h6>WE ARE</h6>
        <h1>Crochet Connect</h1>
      </div>
    </div>

    <!-- Profile Card Section -->
    <div class="card-container ion-padding">
      <div class="card-profile">
        <h2>Here's Your Material Needed</h2>
        <p>Start with yarn,crochet-hook,scissor, and etc.</p>
        <div class="modal-btn">
          <ion-button id="profile-modal" expand="block"
            >View Material</ion-button
          >
          <ion-modal
            [keepContentsMounted]="true"
            trigger="profile-modal"
            #profilebtn
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="profilebtn.dismiss()"
                      >Close</ion-button
                    >
                  </ion-buttons>
                  <ion-title>Material</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-content>
                <div class="material-profile-container">
                  <h3>Here Are Your Materials</h3>
                </div>
                <div class="material-description">
                  <ion-card class="basic-material">
                    <ion-card-header>
                      <ion-card-title>3 Basic Material</ion-card-title>
                      <ion-card-subtitle>Basic Material</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/crochet.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Crochet Hook</ion-label>
                        </ion-item>

                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/scissors (1).png"
                            />
                          </ion-thumbnail>
                          <ion-label>Scissor</ion-label>
                        </ion-item>

                        <ion-item lines="none">
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/yarn-ball.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Yarn</ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                  <!-- SECOND CARD -->
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Support Material</ion-card-title>
                      <ion-card-subtitle>You Must Also Have</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/fashion (1).png"
                            />
                          </ion-thumbnail>
                          <ion-label>Stitch Markers</ion-label>
                        </ion-item>

                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/needles.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Tapestry Needle</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/tape.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Measuring Tape</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/knitting.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Yarn Needle</ion-label>
                        </ion-item>

                        <ion-item lines="none">
                          <ion-thumbnail slot="start">
                            <img
                              alt="Silhouette of mountains"
                              src="../../assets/img/crochetMaterial/stitch.png"
                            />
                          </ion-thumbnail>
                          <ion-label>Stitch Holder</ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </div>
                <!--  <div class="video-container ion-padding">
                  <iframe
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  >
                  </iframe>
                </div> -->
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
  </div>

  <!-- Crochet Card Section -->
  <div class="crochet-card-section-unique">
    <h2>Explore Crochet Styles</h2>

    <!-- Row 1 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/tulip (1).png"
            alt="Crochet Style 1"
          />
          <h3>Tulip</h3>
          <ion-button id="open-modal-1" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-1"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-1" #modal1>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal1.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Tulip</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tulip (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tulip Crochet</h3>
                <p>
                  A charming handcrafted piece inspired by the elegant tulip
                  flower. Made using vibrant yarns and intricate stitching, it
                  often features a colorful bloom atop a green stem and leaves.
                  Perfect as décor, keychains, or gifts, tulip crochet combines
                  creativity and skill to replicate nature's beauty in a soft,
                  durable form.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/xgcBY_KpIRE?si=gsFZa4eImVmcGf_f"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/1.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Tulip In Pot</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      vibrant, cozy handmade décor.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/2.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Tulip Mini Bouquete</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      delicate, colorful, and gift-worthy.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/3.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Tulip Bouquete</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      elegant handmade floral décor.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/rose.png"
            alt="Crochet Style 2"
          />
          <h3>Rose</h3>
          <ion-button id="open-modal-2" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-2"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-2" #modal2>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal2.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Rose</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img src="../../assets/img/profile-img/rose (1).png" alt="" />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Rose Crochet</h3>
                <p>
                  A beautifully crafted piece that mimics the timeless elegance
                  of a rose. With layered petals and rich colors, it captures
                  the flower's romantic essence. Often used as embellishments,
                  home décor, or accessories, rose crochet showcases intricate
                  detailing and is a favorite among crafters for its versatile
                  and graceful design.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/LpppCWD7QGo?si=846OpYhQ6udD2_LK"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/4.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Red Rose</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Timeless, elegant handmade flower.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/5.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>White Rose</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Pure, elegant handmade bloom.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/6.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Rose in Pot</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Charming, handmade floral décor.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/sunflower.png"
            alt="Crochet Style 3"
          />
          <h3>Sunflower</h3>
          <ion-button id="open-modal-3" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-3"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-3" #modal3>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal3.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Sunflower</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/sunflower (1).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Sunflower Tutorial</h3>
                <p>
                  a vibrant and cheerful creation inspired by the iconic
                  sunflower. With its bright yellow petals and contrasting brown
                  or black center, it symbolizes happiness and warmth. Popular
                  for home décor, accessories, or gifts, sunflower crochet
                  brings a touch of sunshine to any space, showcasing the beauty
                  of nature through intricate craftsmanship.
                </p>
              </div>
              <!-- SLIDING CARD -->
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/W3BiLd7SI_4?si=t3oNp7-I5MMvZVCa"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/7.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Sunflower In Pot</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Bright, cheerful handmade décor.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/8.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Sunflower Bouquete</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Vibrant, handmade floral arrangement.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <!-- Row 2 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/tote-bag.png"
            alt="Crochet Style 4"
          />
          <h3>Tote Bag</h3>
          <ion-button id="open-modal-4" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-4"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-4" #modal4>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal4.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Tote Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/tote-bag (1).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Tote Bag Crochet</h3>
                <p>
                  A stylish and practical accessory, handmade with intricate
                  stitching patterns. Often designed with durable yarns, it
                  features a spacious, open-top structure ideal for carrying
                  daily essentials, groceries, or beach items. Versatile and
                  eco-friendly, crochet tote bags come in various colors and
                  designs, making them both functional and fashionable.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/ECWzJSS4OD4?si=CRQwO3_F0SEF4cd4"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/9.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Marron With Flowers</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Elegant, stylish accessory with floral accents.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/10.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Beige With Flowers</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Simple, stylish, and versatile accessory.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/11.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Other Design</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Offering style and versatility.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/luxury.png"
            alt="Crochet Style 5"
          />
          <h3>Crossbody Bag</h3>
          <ion-button id="open-modal-5" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-5"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-5" #modal5>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal5.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Crossbody Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/luxury (1).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Crochet Crossbody Bag</h3>
                <p>
                  A chic and functional accessory designed with a long strap to
                  be worn across the body. Compact yet spacious enough for
                  essentials, it combines style and practicality. Often
                  featuring intricate patterns, vibrant colors, and durable
                  yarns, this handmade bag is perfect for casual outings or
                  adding a unique touch to everyday wear.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/yvNxObDDvQQ?si=5YNDcgJrXvXA5g2H"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/14.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Brown Color</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Compact, stylish, and perfect for hands-free convenience.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/16.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Square Shape</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Geometric, versatile pattern for various projects.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/15.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Other Design</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Simple, versatile design for bags.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/vegetable.png"
            alt="Crochet Style 6"
          />
          <h3>Market Bag</h3>
          <ion-button id="open-modal-6" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-6"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-6" #modal6>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal6.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Market Bag</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/vegetable (1).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Crochet Market Bag</h3>
                <p>
                  a lightweight and eco-friendly accessory, perfect for carrying
                  groceries, produce, or daily essentials. Its breathable,
                  mesh-like design provides flexibility and durability, while
                  its stylish patterns and vibrant colors make it both practical
                  and fashionable. A sustainable alternative to plastic bags,
                  the crochet market bag is ideal for shopping or casual
                  outings.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/8wDhWr80Bp8?si=HtqM-QLUpFzi7ZBh"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/12.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Bag With Icon</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Stylish, practical, and uniquely decorated with an icon.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/13.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Boho Design</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Relaxed, artistic style with fringe and tassels.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <!-- Row 3 -->
    <ion-row>
      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/animal.png"
            alt="Crochet Style 7"
          />
          <h3>Animal Keychain</h3>
          <ion-button id="open-modal-7" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-7"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-7" #modal7>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal7.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Animal Keychanin</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/keychain (2).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Crochet Animal Keychain</h3>
                <p>
                  A cute and whimsical accessory, handmade in the shape of small
                  animals like bears, cats, bunnies, or even exotic creatures
                  like turtles and tarsiers. These keychains are crafted with
                  vibrant yarns and fine details, often in an amigurumi style.
                  Perfect for personalizing keys, bags, or gifts, they add a
                  touch of charm and personality to everyday items.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/scxUbm-fc-k?si=_-RhfstH5uz87S_Q"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/17.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Bee Keychain</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Cute, buzzing design with vibrant details.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/18.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Bird And Pig</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Adorable, playful designs with charming details.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/19.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Dino Keychain</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Cute, colorful, and fun little dinosaur design.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/heart.png"
            alt="Crochet Style 8"
          />
          <h3>Heart Keychain</h3>
          <ion-button id="open-modal-8" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-8"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-8" #modal8>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal8.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Heart Keychain</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img
                    src="../../assets/img/profile-img/keychain (3).png"
                    alt=""
                  />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Crochet Heart Keychain</h3>
                <p>
                  A lovely and meaningful accessory, handcrafted in the shape of
                  a heart. Made with soft yarns in vibrant colors like red,
                  pink, or white, it symbolizes love and affection. Perfect as a
                  gift, token, or bag charm, the crochet heart keychain adds a
                  touch of warmth and sentimentality to your everyday items.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/3-nycxKPf44?si=ZJumcHVETDVJsXl4"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/20.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Decorated Flowers</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Charming, vibrant heart with a whimsical star accent.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/21.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Simple Shape</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Two-dimensional heart shape with clean lines.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

      <ion-col size="4">
        <div class="card">
          <img
            src="../../assets/img/crochetImg/flower.png"
            alt="Crochet Style 9"
          />
          <h3>Flower Keychain</h3>
          <ion-button id="open-modal-9" expand="block">Open Modal</ion-button>
          <ion-loading
            class="custom-loading"
            trigger="open-modal-9"
            message="Loading..."
            [duration]="3000"
          ></ion-loading>
        </div>
        <ion-modal [keepContentsMounted]="true" trigger="open-modal-9" #modal9>
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="modal9.dismiss()">Close</ion-button>
                </ion-buttons>
                <ion-title>Flower Keychain</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content class="crochet-content">
              <div class="content-header">
                <div class="content-img">
                  <img src="../../assets/img/profile-img/flower.png" alt="" />
                </div>
              </div>
              <div class="crochet-description ion-padding">
                <h3>Crochet Flower</h3>
                <p>
                  A delicate and stylish accessory, inspired by the beauty of
                  flowers like roses, daisies, or sunflowers. Crafted with
                  colorful yarns and intricate stitches, it brings a touch of
                  nature’s charm to your keys or bags. These handmade keychains
                  are perfect as thoughtful gifts or cheerful decorations for
                  everyday use.
                </p>
              </div>
              <div class="video-container ion-padding">
                <iframe
                  src="https://www.youtube.com/embed/fjOS79LYg2I?si=Ntj1esgn73MMN_ZO"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                >
                </iframe>
              </div>
              <!-- SLIDING CARD  -->
              <div class="sliding-card-section">
                <h2 class="ion-padding">You May Also Like</h2>
                <div class="sliding-cards-container">
                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/22.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Sunflower Keychain</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Bright, cheerful design with vibrant yellow petals.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/23.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Daisy Keychain</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Fresh, delicate design with white petals and a yellow
                      center.
                    </ion-card-content>
                  </ion-card>

                  <ion-card class="sliding-card">
                    <img
                      src="../../assets/img/crochet-design(1)/24.png"
                      alt="tulip"
                    />
                    <ion-card-header>
                      <ion-card-title>Star flower</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      Unique, star-shaped bloom with vibrant petals and a
                      central accent.
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
