/* CROCHET PROFILE */
.profile-container {
  background: url("../../assets/svg/Animated\ Shape\ \(4\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
}
.img-container {
  display: flex;
  width: 100%;
}
.img-container img {
  width: 60%;
  animation: animated 5s ease 0s infinite alternate;
}

@keyframes animated {
  from {
    transform: translateX(-1px) rotate(-1deg);
  }
  to {
    transform: translateX(1px) rotate(1deg);
  }
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  white-space: nowrap;
  color: white;
}

.header h1 {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
}
.header h6 {
  font-size: 0.7rem;
}
.header h6,
.header h1 {
  margin: 0; /* Remove margins around h6 and h1 to avoid extra space */
  padding: 0; /* Remove padding to eliminate extra space */
}

.card-container {
  position: relative;
  padding: 30px; /* To give some space for overlap */
  top: -50px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; /* This creates the overlap effect */
  border-radius: 2px;
}

/* CROCHET SECTION*/
/* Styling for the unique crochet card section */
.crochet-card-section-unique {
  padding: 140px 10px 10px 10px;
}

.crochet-card-section-unique h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Ensure no padding on cards */
.crochet-card-section-unique .card {
  padding: 0;
  text-align: center;
}

.crochet-card-section-unique .card img {
  width: 100%;
  height: auto;
}

.crochet-card-section-unique .card h3 {
  margin-top: 10px;
}
